{% extends 'layouts/main.html' %}
{% load i18n pagination %}

{% block page_head %}
    <div class="row">
        <div class="col-md-8">
            <h3>{% trans 'Groups' %}</h3>
        </div>
        <div class="col-md-4">
            <a href="{% url 'create_group' %}" class="btn btn-success pull-right">
                <i class="fa fa-plus"></i>&nbsp;&nbsp;{% trans 'ADD GROUP' %}
            </a>
        </div>
    </div>
    <hr>
{% endblock %}

{% block content %}
    <table class="table">
        <thead>
            <tr>
                <th>{% trans 'Name' %}</th>
                <th style="min-width: 120px"></th>
            </tr>
        </thead>
        <tbody>
            {% for group in groups %}
                <tr>
                    <td>
                        <a href="{% url 'update_group' pk=group.pk %}">{{ group.name }}</a>
                    </td>
                    <td>
                        <div class="btn-group btn-group-sm pull-right">
                            <a href="{% url 'update_group' pk=group.pk %}" class="btn btn-default" data-toggle="tooltip" title="{% trans 'Edit' %}">
                                <i class="fa fa-pencil"></i>
                            </a>
                            <a href="{% url 'delete_group' pk=group.pk %}" class="btn btn-default" data-toggle="tooltip" title="{% trans 'Delete' %}">
                                <i class="fa fa-trash"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="2">{% trans 'No groups found.' %}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% pagination request page_obj %}
{% endblock %}
