{% extends 'groups/layouts/edit.html' %}
{% load i18n pagination crispy_forms_tags perms static %}

{% block page_title %}<strong>{{ group }}</strong> {{ object_name }} {% trans 'permissions' %}{% endblock %}

{% block page_head_tools %}
    <form action="">
        <div class="input-group">
            <input name="search" type="text" class="form-control" value="{{ search|default_if_none:'' }}" placeholder="{% trans 'Search for..' %}">
            <span class="input-group-btn">
                <button class="btn btn-default" type="submit">{% trans 'Search' %}</button>
            </span>
        </div>
    </form>
{% endblock %}

{% block content %}
    <table class="table">
        <thead>
        <tr>
            <th>{% trans 'Name' %}</th>
            <th>{% trans 'Can view' %}</th>
            <th>{% trans 'Can change' %}</th>
            <th>{% trans 'Can delete' %}</th>
        </tr>
        </thead>
        <tbody>
        {% for object in object_list %}
            <tr>
                <td>
                    {% if object.get_absolute_url %}
                        <a href="{{ object.get_absolute_url }}">{{ object.name|upper }}</a>
                    {% else %}
                        {{ object.name|upper }}
                    {% endif %}
                </td>
                <td>
                    {% has_perm perm_checker perm_view object as has_view_perm %}
                    <label class="toggle">
                        <input name="obj" value="{{ object.pk }}" type="checkbox" {% if has_view_perm %}checked{% endif %} data-perm="{{ perm_view }}" data-path="{{ request.path }}">
                        <span class="toggle__slider round"></span>
                    </label>
                </td>
                <td>
                    {% has_perm perm_checker perm_change object as has_change_perm %}
                    <label class="toggle">
                        <input name="obj" value="{{ object.pk }}" type="checkbox" {% if has_change_perm %}checked{% endif %} data-perm="{{ perm_change }}" data-path="{{ request.path }}">
                        <span class="toggle__slider round"></span>
                    </label>
                </td>
                <td>
                    {% has_perm perm_checker perm_delete object as has_delete_perm %}
                    <label class="toggle">
                        <input name="obj" value="{{ object.pk }}" type="checkbox" {% if has_delete_perm %}checked{% endif %} data-perm="{{ perm_delete }}" data-path="{{ request.path }}">
                        <span class="toggle__slider round"></span>
                    </label>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="4" class="text-center">
                    {% blocktrans with object_name_plural=object_name_plural %}
                        No {{ object_name_plural }} found.
                    {% endblocktrans %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% pagination request page_obj %}
{% endblock %}

{% block page_js %}
    {{ block.super }}
    <script src="{% static 'dist/pages/permissions.edit.js' %}"></script>
{% endblock %}