*.egg
*.egg-info
*.pyo
*.pt.py
*.txt.py
*.swp
*.sqlite3
.project
.pydevproject
.build
.release
.penv/
.eggs/
.idea/
.DS_Store
venv/
build/
/dist/
node_modules/
ideadb
exception.log
__pycache__
.env
configfactory.ini

# Unit test / coverage reports
.coverage
.tox
.cache
.pytest_cache