{% extends 'layouts/main.html' %}
{% load i18n crispy_forms_tags %}

{% block page_title %}{% trans 'Change' %} <strong>{{ user }}</strong> {% trans 'password' %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <div class="alert alert-info fade in alert-dismissable">
                <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                {{ password_info|safe }}
            </div>
            {% crispy form %}
        </div>
    </div>
{% endblock %}