{% extends 'layouts/base.html' %}
{% load static %}

{% block page_js %}
    <script src="{% static 'dist/vendor.js' %}"></script>
    <script src="{% static 'dist/app.js' %}"></script>
{% endblock %}

{% block body %}
    <div id="wrapper" class="toggled">
        <div id="sidebar-wrapper">
            {% include 'includes/sidebar_menu.html' %}
        </div>
        <div id="page-content-wrapper">
            {% include 'includes/messages.html' %}
            {% block page_head %}
                <h3>{% block page_title %}{% endblock %}</h3><hr>
            {% endblock %}
            {% block content_wrapper %}{% block content %}{% endblock %}{% endblock %}
        </div>
    </div>
{% endblock %}
