{% extends 'layouts/main.html' %}
{% load i18n buttons %}

{% block page_title %}{% trans 'Delete' %} <strong>{{ component.name }}</strong>{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        {% blocktrans with component=component %}
            <p>Are you sure you want to delete <strong>{{ component.name }}</strong> ?</p>
        {% endblocktrans %}
        <button class="btn btn-danger">Yes, delete</button>
        {% back_btn request 'component' alias=component.alias %}
    </form>
{% endblock %}
