{% extends 'layouts/main.html' %}
{% load i18n guardian_tags static %}

{% block page_head %}
    <div class="row">
        <div class="col-md-8">
            <h3>{{ component.name }}
                <small><strong>[{{ component.alias }}]</strong></small>
            </h3>
        </div>
        <div class="col-md-4">
            <ul class="nav nav-pills pull-right">
                {% if 'view_component' in component_perms  and 'view_environment' in environment_perms %}
                    <li class="active">
                        <a href="{% url 'component_settings' alias=component.alias environment=current_environment.alias %}"
                           data-toggle="tooltip" title="{% trans 'Flatten View' %}">
                            <i class="fa fa-eye"></i>
                        </a>
                    </li>
                {% endif %}
                {% if 'change_component' in component_perms and 'change_environment' in environment_perms %}
                    <li>
                        <a href="{% url 'update_component_settings' alias=component.alias environment=current_environment.alias %}"
                           data-toggle="tooltip" title="{% trans 'Edit' %}">
                            <i class="fa fa-pencil-square-o"></i>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
    <hr>
{% endblock %}

{% block content %}
    {% if not component.is_global %}
        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-pills pull-left">
                    {% for environment in view_environments %}
                        <li class="{% if environment.alias == current_environment.alias %}active{% endif %}">
                            <a href="{% url 'component_settings' alias=component.alias environment=environment.alias %}">{{ environment.name|upper }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <hr>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        {{ form.settings }}
    </form>
{% endblock %}

{% block page_js %}
    {{ block.super }}
    <script src="{% static 'dist/pages/settings.view.js' %}"></script>
{% endblock %}
