@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic');

body {
    overflow-x: hidden;
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@media (max-width: 767px) {
    .btn-xs-block {
        display: block;
        width: 100%;
    }

    input[type="submit"].btn-xs-block,
    input[type="reset"].btn-xs-block,
    input[type="button"].btn-xs-block {
        width: 100%;
    }

    .btn-block + .btn-xs-block,
    .btn-xs-block + .btn-block,
    .btn-xs-block + .btn-xs-block {
        margin-top: 0.5rem;
    }
}

/* Toggle Styles */

#wrapper {
    padding-left: 0;
    margin-top: 51px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #f8f8f8;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0 0 51px;
    list-style: none;
}

.sidebar-nav li {
    border-bottom: 1px solid #e7e7e7;
}

.sidebar-nav li:hover {
    background-color: #e7e7e7
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #121212;
    font-size: 12px;
    padding: 10px 15px;
}

.sidebar-nav li a:hover {
    text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    /*text-decoration: none;*/
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media (min-width: 768px) {
    #wrapper {
        padding-left: 0;
    }

    #wrapper.toggled {
        padding-left: 250px;
    }

    #sidebar-wrapper {
        width: 0;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 250px;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

.auth-block {
    width: 320px;
    margin: 84px auto;
}

.auth-block form {
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    padding: 32px 18px;
}

.text-aqua {
    color: #00c0ef !important
}

.text-red {
    color: #dd4b39 !important
}

.text-green {
    color: #00a65a !important
}

.text-blue {
    color: #0073b7 !important
}

*.asteriskField {
    display: none;
}

.toggle {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 22px;
}

/* Hide default HTML checkbox */
.toggle input {
    display: none;
}

/* The slider */
.toggle__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.toggle__slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .toggle__slider {
    background-color: #2196F3;
}

input:focus + .toggle__slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .toggle__slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.toggle__slider.round {
    border-radius: 34px;
}

.toggle__slider.round:before {
    border-radius: 50%;
}